﻿@{
	ViewBag.Title = "Zeitleiste";
}

<style>
	main {
		background: #f1f3f4;
		border-color: #8a9da8;
	}

	#zeitleiste {
		position: relative;
		margin-left: 7.5em;
		list-style-type: none;
	}

		#zeitleiste::before {
			position: absolute;
			content: "";
			bottom: 0;
			left: 0;
			top: 0;
			background: #3983ab;
			width: 0.4em;
		}

		#zeitleiste::after {
			position: absolute;
			content: "";
			bottom: -1.3em;
			left: -0.8em;
			width: 0;
			height: 0;
			border-width: 1em;
			border-style: solid;
			border-color: #3983ab transparent transparent transparent;
		}

		#zeitleiste > li::before {
			position: absolute;
			content: "";
			width: 1em;
			height: 1em;
			left: -0.5em;
			border-radius: 50%;
			border: 0.2em solid #3983ab;
			background: #dfac20;
		}

		#zeitleiste > li {
			margin-bottom: 3em;
		}

	li h3 {
		margin: -1em 0 0.2em;
	}

	time {
		display: block;
		font-weight: bold;
		margin-left: -9.5em;
		width: 5em;
		text-align: right;
	}
</style>

<h2>Zeitleiste</h2>

<main role="main">
	<ul id="zeitleiste">
		<li>
			<time datetime="1995-06-04">04.06.1995</time>
			<h3>SelfHTML geht online.</h3> </li>
		<li>
			<time datetime="1998-01-01">1998</time>
			<h3>Das Self-Forum</h3> Das <strong>Forum</strong> beantwortet Fragen und wird vom Tummelplatz technikaffiner
			Webialisten zur Community. </li>
		<li>
			<time datetime="1999-01-01">1999</time>
			<h3>SelfHTML-Aktuell</h3> <strong>SelfHTML-Aktuell</strong> ergänzt die Dokumentation mit Artikeln zu Einzelthemen
			</li>
		<li>
			<time datetime="2004-05-11">11.05.2004</time>
			<h3>Selfhtml e.V.</h3> Mit der Vereinsgründung wird ein organisatorischer Unterbau geschaffen. </li>
		<li>
			<time datetime="2005-11-24">2005</time>
			<h3>Blog</h3> eine bequeme Möglichkeit aktuelle Artikel zu veröffentlichen </li>
		<li>
			<time datetime="2010-01-24">24.01.2010</time>
			<h3>Wiki</h3> Das Wiki geht online. </li>
		<li>
			<time datetime="2015-04-20">2015</time>
			<h3>Totgesagte leben länger - Selfhtml wird 20</h3>
			<ul>
				<li>Die Lücken im Wiki sind weitgehend geschlossen.</li>
				<li>Das neue <strong>Forum 4.3</strong> geht an den Start.</li>
				<li>Die alte <strong>Doku 8.12</strong> wird abgeschaltet.</li>
			</ul>
		</li>
	</ul>
</main>
